In [2]:
import pandas as pd
import numpy as np

# Generating sample Google Play Store data
data = {
    'App': [f'App_{i}' for i in range(1, 31)],
    'Category': np.random.choice(['Game', 'Productivity', 'Health', 'Education'], 30),
    'Rating': np.random.uniform(1.0, 5.0, 30).round(1),
    'Reviews': np.random.randint(1, 10000, 30),
    'Size': np.random.choice(['Varies with device', '10M', '20M', '30M'], 30),
    'Installs': np.random.choice(['1,000+', '10,000+', '50,000+', '100,000+'], 30),
    'Type': np.random.choice(['Free', 'Paid'], 30),
    'Price': np.random.choice(['0', '0.99', '1.99', '2.99', '4.99', '5.99', '9.99'], 30),
    'Content Rating': np.random.choice(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+'], 30)
}

In [2]:
data

{'App': ['App_1',
  'App_2',
  'App_3',
  'App_4',
  'App_5',
  'App_6',
  'App_7',
  'App_8',
  'App_9',
  'App_10',
  'App_11',
  'App_12',
  'App_13',
  'App_14',
  'App_15',
  'App_16',
  'App_17',
  'App_18',
  'App_19',
  'App_20',
  'App_21',
  'App_22',
  'App_23',
  'App_24',
  'App_25',
  'App_26',
  'App_27',
  'App_28',
  'App_29',
  'App_30'],
 'Category': array(['Productivity', 'Education', 'Game', 'Health', 'Game', 'Education',
        'Productivity', 'Education', 'Productivity', 'Game', 'Health',
        'Productivity', 'Game', 'Health', 'Productivity', 'Productivity',
        'Education', 'Health', 'Education', 'Game', 'Education',
        'Productivity', 'Education', 'Game', 'Productivity', 'Health',
        'Game', 'Productivity', 'Education', 'Education'], dtype='<U12'),
 'Rating': array([5. , 4.3, 2.4, 1.4, 3.8, 2.4, 1.1, 1.2, 3.4, 1. , 1.5, 3.9, 1.4,
        2.8, 2.1, 3.4, 4.9, 3.5, 2.1, 1.2, 4.7, 1.5, 2.8, 4.9, 3.1, 3.2,
        2.4, 3.5, 2.3, 1.5]),
 'Reviews': array([3531, 7008, 6941, 2209, 4746, 1914, 5522, 1385, 6683, 6654, 3329,
        5707, 5985, 7604, 2578, 7359, 1355, 6205,  711, 4179, 4590, 5040,
        2770, 4878, 3883, 4928,  899, 5119,  213, 2062]),
 'Size': array(['30M', '30M', 'Varies with device', '10M', '30M',
        'Varies with device', '20M', '10M', '30M', '20M',
        'Varies with device', '30M', '10M', 'Varies with device', '20M',
        '30M', '30M', '20M', '20M', '20M', '20M', '30M', '20M', '10M',
        '30M', 'Varies with device', '20M', '20M', '10M',
        'Varies with device'], dtype='<U18'),
 'Installs': array(['50,000+', '1,000+', '10,000+', '100,000+', '10,000+', '1,000+',
        '1,000+', '1,000+', '50,000+', '50,000+', '100,000+', '1,000+',
        '10,000+', '1,000+', '10,000+', '50,000+', '50,000+', '1,000+',
        '50,000+', '50,000+', '100,000+', '100,000+', '50,000+', '1,000+',
        '100,000+', '50,000+', '50,000+', '100,000+', '10,000+', '50,000+'],
       dtype='<U8'),
 'Type': array(['Paid', 'Free', 'Free', 'Free', 'Paid', 'Free', 'Paid', 'Free',
        'Paid', 'Paid', 'Paid', 'Free', 'Free', 'Free', 'Paid', 'Free',
        'Free', 'Free', 'Free', 'Free', 'Paid', 'Free', 'Free', 'Free',
        'Free', 'Free', 'Paid', 'Free', 'Free', 'Free'], dtype='<U4'),
 'Price': array(['9.99', '0.99', '0.99', '4.99', '0', '9.99', '0', '9.99', '9.99',
        '1.99', '0.99', '0', '9.99', '2.99', '0', '2.99', '2.99', '5.99',
        '9.99', '4.99', '9.99', '9.99', '5.99', '4.99', '0.99', '9.99',
        '5.99', '1.99', '4.99', '5.99'], dtype='<U4'),
 'Content Rating': array(['Teen', 'Everyone 10+', 'Everyone 10+', 'Mature 17+', 'Teen',
        'Mature 17+', 'Mature 17+', 'Everyone 10+', 'Everyone', 'Teen',
        'Everyone 10+', 'Everyone', 'Everyone', 'Everyone', 'Mature 17+',
        'Everyone 10+', 'Mature 17+', 'Everyone', 'Everyone', 'Mature 17+',
        'Teen', 'Teen', 'Mature 17+', 'Everyone', 'Mature 17+', 'Teen',
        'Everyone 10+', 'Teen', 'Mature 17+', 'Mature 17+'], dtype='<U12')}

In [29]:
# Creating DataFrame
df = pd.DataFrame(data)

In [30]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,3.1,5685,10M,"50,000+",Free,4.99,Mature 17+
1,App_2,Health,2.6,8438,10M,"100,000+",Free,0,Mature 17+
2,App_3,Education,3.7,2310,Varies with device,"1,000+",Free,5.99,Everyone
3,App_4,Health,3.5,6340,Varies with device,"100,000+",Paid,0,Everyone 10+
4,App_5,Education,4.3,8879,20M,"50,000+",Free,5.99,Teen

In [31]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
25,App_26,Education,4.9,3470,Varies with device,"1,000+",Free,4.99,Everyone 10+
26,App_27,Productivity,3.9,408,30M,"50,000+",Free,9.99,Teen
27,App_28,Productivity,1.4,3939,20M,"100,000+",Paid,9.99,Teen
28,App_29,Productivity,3.6,2847,20M,"50,000+",Free,2.99,Mature 17+
29,App_30,Education,3.2,95,20M,"1,000+",Free,0,Everyone 10+

In [32]:
# !pip install module name

In [33]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating'],
      dtype='object')

In [34]:
df['Category'].unique()

array(['Productivity', 'Health', 'Education', 'Game'], dtype=object)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     object
 8   Content Rating  30 non-null     object
dtypes: float64(1), int32(1), object(7)
memory usage: 2.1+ KB

In [36]:
df.sample(4)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
21,App_22,Game,2.4,9126,20M,"1,000+",Free,2.99,Mature 17+
29,App_30,Education,3.2,95,20M,"1,000+",Free,0,Everyone 10+
16,App_17,Productivity,3.9,6205,10M,"1,000+",Free,1.99,Teen
19,App_20,Education,1.5,6284,20M,"50,000+",Paid,2.99,Everyone

In [37]:
df.isnull()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False

In [38]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [39]:
# Basic data cleansing
# Step 1: Convert 'Price' to numeric, replacing '$' and converting 'Free' to 0
df['Price'] = df['Price'].replace('Free', '0')

In [40]:
df['Price'] = df['Price'].str.replace('$', '').astype(float)

<ipython-input-40-3d1d9481e45a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('$', '').astype(float)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     float64
 8   Content Rating  30 non-null     object
dtypes: float64(2), int32(1), object(6)
memory usage: 2.1+ KB

In [8]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,5.0,3531,30M,"50,000+",Paid,9.99,Teen
1,App_2,Education,4.3,7008,30M,"1,000+",Free,0.99,Everyone 10+
2,App_3,Game,2.4,6941,Varies with device,"10,000+",Free,0.99,Everyone 10+
3,App_4,Health,1.4,2209,10M,"100,000+",Free,4.99,Mature 17+
4,App_5,Game,3.8,4746,30M,"10,000+",Paid,0.00,Teen

In [9]:
# Additional Steps
# Step 2: Remove duplicates based on the 'App' column
df = df.drop_duplicates(subset=['App'])

In [10]:
# Step 3: Fill missing values in 'Rating' with the mean rating
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [11]:
# Step 4: Normalize the 'Reviews' column (scaling between 0 and 1)
df['Reviews'] = (df['Reviews'] - df['Reviews'].min()) / (df['Reviews'].max() - df['Reviews'].min())

In [12]:
# Step 5: Simplify 'Size' column (replace 'Varies with device' with NaN)
df['Size'] = df['Size'].replace('Varies with device', np.nan)

In [13]:
# Step 6: Convert 'Size' from string to numeric (assume 'M' means MB)
df['Size'] = df['Size'].str.replace('M', '').astype(float)

In [14]:
# Step 7: Fill missing values in 'Size' with the median size
df['Size'] = df['Size'].fillna(df['Size'].median())

In [15]:
# Step 8: Clean 'Installs' column (remove '+' and ',')
df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

<ipython-input-15-91f565401ee9>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

In [16]:
# Step 9: Create a new column 'Log_Installs' (log transformation of 'Installs')
df['Log_Installs'] = np.log1p(df['Installs'])

In [17]:
# Step 10: Normalize 'Log_Installs' column
df['Log_Installs'] = (df['Log_Installs'] - df['Log_Installs'].min()) / (df['Log_Installs'].max() - df['Log_Installs'].min())

In [18]:
# Step 11: Create a new column 'Popularity' based on 'Rating' and 'Reviews'
df['Popularity'] = df['Rating'] * df['Reviews']

In [19]:
# Check and categorize paid apps
df['Affordable'] = np.where(df['Type'] == 'Paid', np.where(df['Price'] < 5.00, 'Yes', 'No'), 'N/A')

In [20]:
# Display the DataFrame
print(df)

       App      Category  Rating   Reviews  Size  Installs  Type  Price  \
0    App_1  Productivity     5.0  0.448924  30.0     50000  Paid   9.99
1    App_2     Education     4.3  0.919361  30.0      1000  Free   0.99
2    App_3          Game     2.4  0.910296  20.0     10000  Free   0.99
3    App_4        Health     1.4  0.270058  10.0    100000  Free   4.99
4    App_5          Game     3.8  0.613313  30.0     10000  Paid   0.00
5    App_6     Education     2.4  0.230145  20.0      1000  Free   9.99
6    App_7  Productivity     1.1  0.718306  20.0      1000  Paid   0.00
7    App_8     Education     1.2  0.158571  10.0      1000  Free   9.99
8    App_9  Productivity     3.4  0.875389  30.0     50000  Paid   9.99
9   App_10          Game     1.0  0.871465  20.0     50000  Paid   1.99
10  App_11        Health     1.5  0.421594  20.0    100000  Paid   0.99
11  App_12  Productivity     3.9  0.743336  30.0      1000  Free   0.00
12  App_13          Game     1.4  0.780950  10.0     10000  Free   9.99
13  App_14        Health     2.8  1.000000  20.0      1000  Free   2.99
14  App_15  Productivity     2.1  0.319984  20.0     10000  Paid   0.00
15  App_16  Productivity     3.4  0.966852  30.0     50000  Free   2.99
16  App_17     Education     4.9  0.154512  30.0     50000  Free   2.99
17  App_18        Health     3.5  0.810716  20.0      1000  Free   5.99
18  App_19     Education     2.1  0.067379  20.0     50000  Free   9.99
19  App_20          Game     1.2  0.536599  20.0     50000  Free   4.99
20  App_21     Education     4.7  0.592207  20.0    100000  Paid   9.99
21  App_22  Productivity     1.5  0.653092  30.0    100000  Free   9.99
22  App_23     Education     2.8  0.345961  20.0     50000  Free   5.99
23  App_24          Game     4.9  0.631173  10.0      1000  Free   4.99
24  App_25  Productivity     3.1  0.496550  30.0    100000  Free   0.99
25  App_26        Health     3.2  0.637938  20.0     50000  Free   9.99
26  App_27          Game     2.4  0.092816  20.0     50000  Paid   5.99
27  App_28  Productivity     3.5  0.663780  20.0    100000  Free   1.99
28  App_29     Education     2.3  0.000000  10.0     10000  Free   4.99
29  App_30     Education     1.5  0.250169  20.0     50000  Free   5.99

   Content Rating  Log_Installs  Popularity Affordable
0            Teen      0.849455    2.244622         No
1    Everyone 10+      0.000000    3.953254        N/A
2    Everyone 10+      0.499912    2.184711        N/A
3      Mature 17+      1.000000    0.378081        N/A
4            Teen      0.499912    2.330591        Yes
5      Mature 17+      0.000000    0.552347        N/A
6      Mature 17+      0.000000    0.790137        Yes
7    Everyone 10+      0.000000    0.190285        N/A
8        Everyone      0.849455    2.976323         No
9            Teen      0.849455    0.871465        Yes
10   Everyone 10+      1.000000    0.632391        Yes
11       Everyone      0.000000    2.899012        N/A
12       Everyone      0.499912    1.093330        N/A
13       Everyone      0.000000    2.800000        N/A
14     Mature 17+      0.499912    0.671966        Yes
15   Everyone 10+      0.849455    3.287295        N/A
16     Mature 17+      0.849455    0.757110        N/A
17       Everyone      0.000000    2.837505        N/A
18       Everyone      0.849455    0.141496        N/A
19     Mature 17+      0.849455    0.643918        N/A
20           Teen      1.000000    2.783372         No
21           Teen      1.000000    0.979637        N/A
22     Mature 17+      0.849455    0.968692        N/A
23       Everyone      0.000000    3.092748        N/A
24     Mature 17+      1.000000    1.539305        N/A
25           Teen      0.849455    2.041402        N/A
26   Everyone 10+      0.849455    0.222757         No
27           Teen      1.000000    2.323231        N/A
28     Mature 17+      0.499912    0.000000        N/A
29     Mature 17+      0.849455    0.375254        N/A