In [41]:
import pandas as pd
import numpy as np

# Generating sample Google Play Store data
data = {
    'App': [f'App_{i}' for i in range(1, 31)],
    'Category': np.random.choice(['Game', 'Productivity', 'Health', 'Education'], 30),
    'Rating': np.random.uniform(1.0, 5.0, 30).round(1),
    'Reviews': np.random.randint(1, 10000, 30),
    'Size': np.random.choice(['Varies with device', '10M', '20M', '30M'], 30),
    'Installs': np.random.choice(['1,000+', '10,000+', '50,000+', '100,000+'], 30),
    'Type': np.random.choice(['Free', 'Paid'], 30),
    'Price': np.random.choice(['0', '0.99', '1.99', '2.99', '4.99', '5.99', '9.99'], 30),
    'Content Rating': np.random.choice(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+'], 30)
}

In [42]:
data

{'App': ['App_1',
  'App_2',
  'App_3',
  'App_4',
  'App_5',
  'App_6',
  'App_7',
  'App_8',
  'App_9',
  'App_10',
  'App_11',
  'App_12',
  'App_13',
  'App_14',
  'App_15',
  'App_16',
  'App_17',
  'App_18',
  'App_19',
  'App_20',
  'App_21',
  'App_22',
  'App_23',
  'App_24',
  'App_25',
  'App_26',
  'App_27',
  'App_28',
  'App_29',
  'App_30'],
 'Category': array(['Health', 'Productivity', 'Health', 'Productivity', 'Game',
        'Productivity', 'Education', 'Education', 'Game', 'Productivity',
        'Productivity', 'Education', 'Education', 'Health', 'Productivity',
        'Productivity', 'Health', 'Education', 'Game', 'Game', 'Game',
        'Game', 'Education', 'Game', 'Education', 'Education', 'Health',
        'Productivity', 'Education', 'Education'], dtype='<U12'),
 'Rating': array([2.2, 4.2, 3. , 3.3, 4. , 1.3, 3.3, 4.6, 2.1, 2.2, 1.1, 1.8, 2.9,
        2.3, 4.3, 2.4, 3.5, 1.4, 3.6, 4.3, 1.2, 3.3, 4.1, 1.6, 3.4, 1.1,
        2.2, 3.1, 2.5, 1.1]),
 'Reviews': array([  73, 7913, 5450, 8780,  526, 4542, 7368, 2950,  559, 6436, 5990,
        7874, 8468, 8669, 9956, 5550, 5206, 1648, 5902,  138, 9041,   29,
        2803, 2078, 3344, 6210, 8620, 1340, 8858, 3454]),
 'Size': array(['30M', '30M', '30M', 'Varies with device', '20M', '20M', '10M',
        '20M', 'Varies with device', '20M', 'Varies with device', '10M',
        '10M', '10M', '10M', '30M', 'Varies with device', '20M', '30M',
        '20M', '10M', '10M', 'Varies with device', '20M', '30M', '20M',
        '30M', '20M', 'Varies with device', '30M'], dtype='<U18'),
 'Installs': array(['1,000+', '10,000+', '50,000+', '100,000+', '10,000+', '1,000+',
        '1,000+', '1,000+', '50,000+', '100,000+', '10,000+', '50,000+',
        '50,000+', '100,000+', '50,000+', '50,000+', '50,000+', '1,000+',
        '50,000+', '1,000+', '1,000+', '50,000+', '100,000+', '100,000+',
        '1,000+', '10,000+', '1,000+', '1,000+', '100,000+', '10,000+'],
       dtype='<U8'),
 'Type': array(['Paid', 'Paid', 'Free', 'Free', 'Paid', 'Paid', 'Free', 'Paid',
        'Paid', 'Paid', 'Free', 'Free', 'Paid', 'Paid', 'Free', 'Paid',
        'Free', 'Paid', 'Free', 'Paid', 'Paid', 'Free', 'Free', 'Paid',
        'Paid', 'Free', 'Free', 'Paid', 'Paid', 'Free'], dtype='<U4'),
 'Price': array(['9.99', '5.99', '2.99', '0.99', '0', '2.99', '2.99', '0', '5.99',
        '0', '0.99', '1.99', '0', '9.99', '9.99', '4.99', '9.99', '5.99',
        '5.99', '0.99', '4.99', '0', '5.99', '0', '2.99', '0.99', '0.99',
        '5.99', '5.99', '5.99'], dtype='<U4'),
 'Content Rating': array(['Mature 17+', 'Teen', 'Everyone', 'Teen', 'Mature 17+',
        'Mature 17+', 'Teen', 'Everyone 10+', 'Teen', 'Everyone', 'Teen',
        'Mature 17+', 'Everyone 10+', 'Everyone 10+', 'Mature 17+', 'Teen',
        'Everyone', 'Everyone', 'Everyone', 'Mature 17+', 'Everyone',
        'Mature 17+', 'Teen', 'Mature 17+', 'Teen', 'Everyone', 'Everyone',
        'Mature 17+', 'Everyone', 'Mature 17+'], dtype='<U12')}

In [43]:
type(data)

dict

In [44]:
# Creating DataFrame
df = pd.DataFrame(data)

In [45]:
type(df)

pandas.core.frame.DataFrame

In [46]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,73,30M,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,7913,30M,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,5450,30M,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,8780,Varies with device,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,526,20M,"10,000+",Paid,0,Mature 17+

In [47]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
25,App_26,Education,1.1,6210,20M,"10,000+",Free,0.99,Everyone
26,App_27,Health,2.2,8620,30M,"1,000+",Free,0.99,Everyone
27,App_28,Productivity,3.1,1340,20M,"1,000+",Paid,5.99,Mature 17+
28,App_29,Education,2.5,8858,Varies with device,"100,000+",Paid,5.99,Everyone
29,App_30,Education,1.1,3454,30M,"10,000+",Free,5.99,Mature 17+

In [48]:
# !pip install module name

In [49]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating'],
      dtype='object')

In [50]:
df.shape

(30, 9)

In [51]:
df['Category'].unique()

array(['Health', 'Productivity', 'Game', 'Education'], dtype=object)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     object
 8   Content Rating  30 non-null     object
dtypes: float64(1), int32(1), object(7)
memory usage: 2.1+ KB

In [53]:
df.sample(4)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
24,App_25,Education,3.4,3344,30M,"1,000+",Paid,2.99,Teen
8,App_9,Game,2.1,559,Varies with device,"50,000+",Paid,5.99,Teen
22,App_23,Education,4.1,2803,Varies with device,"100,000+",Free,5.99,Teen
0,App_1,Health,2.2,73,30M,"1,000+",Paid,9.99,Mature 17+

In [54]:
df.isnull()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False

In [55]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [56]:
# Basic data cleansing
# Step 1: Convert 'Price' to numeric, replacing '$' and converting 'Free' to 0
df['Price'] = df['Price'].replace('Free', '0')

In [57]:
type(df['Price'])

pandas.core.series.Series

In [58]:
df['Price'] = df['Price'].str.replace('$', '').astype(float)

<ipython-input-58-3d1d9481e45a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('$', '').astype(float)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     float64
 8   Content Rating  30 non-null     object
dtypes: float64(2), int32(1), object(6)
memory usage: 2.1+ KB

In [60]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,73,30M,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,7913,30M,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,5450,30M,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,8780,Varies with device,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,526,20M,"10,000+",Paid,0.00,Mature 17+

In [61]:
# Additional Steps
# Step 2: Remove duplicates based on the 'App' column
df = df.drop_duplicates(subset=['App'])

In [62]:
# Step 3: Fill missing values in 'Rating' with the mean rating
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [63]:
# Step 4: Normalize the 'Reviews' column (scaling between 0 and 1)
df['Reviews'] = (df['Reviews'] - df['Reviews'].min()) / (df['Reviews'].max() - df['Reviews'].min())

In [64]:
df['Size'].unique()

array(['30M', 'Varies with device', '20M', '10M'], dtype=object)

In [65]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,0.004432,30M,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,0.794198,30M,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,0.546086,30M,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,0.881535,Varies with device,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,0.050065,20M,"10,000+",Paid,0.00,Mature 17+

In [71]:
# Step 5: Simplify 'Size' column (replace 'Varies with device' with NaN)
df['Size'] = df['Size'].replace('Varies with device', np.nan)

In [72]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,0.004432,30M,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,0.794198,30M,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,0.546086,30M,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,0.881535,NaN,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,0.050065,20M,"10,000+",Paid,0.00,Mature 17+

In [73]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,0.004432,30M,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,0.794198,30M,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,0.546086,30M,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,0.881535,NaN,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,0.050065,20M,"10,000+",Paid,0.00,Mature 17+

In [74]:
df['Size']

0     30M
1     30M
2     30M
3     NaN
4     20M
5     20M
6     10M
7     20M
8     NaN
9     20M
10    NaN
11    10M
12    10M
13    10M
14    10M
15    30M
16    NaN
17    20M
18    30M
19    20M
20    10M
21    10M
22    NaN
23    20M
24    30M
25    20M
26    30M
27    20M
28    NaN
29    30M
Name: Size, dtype: object

In [75]:
# Step 6: Convert 'Size' from string to numeric (assume 'M' means MB)
df['Size'] = df['Size'].str.replace('M', '').astype(float)

In [76]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,0.004432,30.0,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,0.794198,30.0,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,0.546086,30.0,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,0.881535,NaN,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,0.050065,20.0,"10,000+",Paid,0.00,Mature 17+

In [77]:
df['Size']

0     30.0
1     30.0
2     30.0
3      NaN
4     20.0
5     20.0
6     10.0
7     20.0
8      NaN
9     20.0
10     NaN
11    10.0
12    10.0
13    10.0
14    10.0
15    30.0
16     NaN
17    20.0
18    30.0
19    20.0
20    10.0
21    10.0
22     NaN
23    20.0
24    30.0
25    20.0
26    30.0
27    20.0
28     NaN
29    30.0
Name: Size, dtype: float64

In [78]:
# Step 7: Fill missing values in 'Size' with the median size
df['Size'] = df['Size'].fillna(df['Size'].median())

In [79]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Health,2.2,0.004432,30.0,"1,000+",Paid,9.99,Mature 17+
1,App_2,Productivity,4.2,0.794198,30.0,"10,000+",Paid,5.99,Teen
2,App_3,Health,3.0,0.546086,30.0,"50,000+",Free,2.99,Everyone
3,App_4,Productivity,3.3,0.881535,20.0,"100,000+",Free,0.99,Teen
4,App_5,Game,4.0,0.050065,20.0,"10,000+",Paid,0.00,Mature 17+

In [15]:
# Step 8: Clean 'Installs' column (remove '+' and ',')
df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

<ipython-input-15-91f565401ee9>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

In [80]:
df['Size']

0     30.0
1     30.0
2     30.0
3     20.0
4     20.0
5     20.0
6     10.0
7     20.0
8     20.0
9     20.0
10    20.0
11    10.0
12    10.0
13    10.0
14    10.0
15    30.0
16    20.0
17    20.0
18    30.0
19    20.0
20    10.0
21    10.0
22    20.0
23    20.0
24    30.0
25    20.0
26    30.0
27    20.0
28    20.0
29    30.0
Name: Size, dtype: float64

In [81]:
# Step 11: Create a new column 'Popularity' based on 'Rating' and 'Reviews'
df['Popularity'] = df['Rating'] * df['Reviews']

In [93]:
df.sort_values(by=['Popularity','Size'], ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
14,App_15,Productivity,4.3,1.000000,10.0,"50,000+",Free,9.99,Mature 17+,4.300000
1,App_2,Productivity,4.2,0.794198,30.0,"10,000+",Paid,5.99,Teen,3.335630
3,App_4,Productivity,3.3,0.881535,20.0,"100,000+",Free,0.99,Teen,2.909066
12,App_13,Education,2.9,0.850106,10.0,"50,000+",Paid,0.00,Everyone 10+,2.465307
6,App_7,Education,3.3,0.739297,10.0,"1,000+",Free,2.99,Teen,2.439680
28,App_29,Education,2.5,0.889393,20.0,"100,000+",Paid,5.99,Everyone,2.223481
18,App_19,Game,3.6,0.591619,30.0,"50,000+",Free,5.99,Everyone,2.129828
13,App_14,Health,2.3,0.870354,10.0,"100,000+",Paid,9.99,Everyone 10+,2.001813
26,App_27,Health,2.2,0.865418,30.0,"1,000+",Free,0.99,Everyone,1.903919
16,App_17,Health,3.5,0.521507,20.0,"50,000+",Free,9.99,Everyone,1.825275
2,App_3,Health,3.0,0.546086,30.0,"50,000+",Free,2.99,Everyone,1.638259
11,App_12,Education,1.8,0.790269,10.0,"50,000+",Free,1.99,Mature 17+,1.422484
9,App_10,Productivity,2.2,0.645412,20.0,"100,000+",Paid,0.00,Everyone,1.419905
7,App_8,Education,4.6,0.294248,20.0,"1,000+",Paid,0.00,Everyone 10+,1.353541
15,App_16,Productivity,2.4,0.556160,30.0,"50,000+",Paid,4.99,Teen,1.334784
22,App_23,Education,4.1,0.279440,20.0,"100,000+",Free,5.99,Teen,1.145704
24,App_25,Education,3.4,0.333938,30.0,"1,000+",Paid,2.99,Teen,1.135388
20,App_21,Game,1.2,0.907827,10.0,"1,000+",Paid,4.99,Everyone,1.089393
25,App_26,Education,1.1,0.622645,20.0,"10,000+",Free,0.99,Everyone,0.684910
10,App_11,Productivity,1.1,0.600484,20.0,"10,000+",Free,0.99,Teen,0.660532
5,App_6,Productivity,1.3,0.454619,20.0,"1,000+",Paid,2.99,Mature 17+,0.591004
27,App_28,Productivity,3.1,0.132064,20.0,"1,000+",Paid,5.99,Mature 17+,0.409399
29,App_30,Education,1.1,0.345019,30.0,"10,000+",Free,5.99,Mature 17+,0.379520
23,App_24,Game,1.6,0.206407,20.0,"100,000+",Paid,0.00,Mature 17+,0.330251
17,App_18,Education,1.4,0.163091,20.0,"1,000+",Paid,5.99,Everyone,0.228327
4,App_5,Game,4.0,0.050065,20.0,"10,000+",Paid,0.00,Mature 17+,0.200262
8,App_9,Game,2.1,0.053390,20.0,"50,000+",Paid,5.99,Teen,0.112118
19,App_20,Game,4.3,0.010980,20.0,"1,000+",Paid,0.99,Mature 17+,0.047215
0,App_1,Health,2.2,0.004432,30.0,"1,000+",Paid,9.99,Mature 17+,0.009751
21,App_22,Game,3.3,0.000000,10.0,"50,000+",Free,0.00,Mature 17+,0.000000

In [19]:
# Check and categorize paid apps
df['Affordable'] = np.where(df['Type'] == 'Paid', np.where(df['Price'] < 5.00, 'Yes', 'No'), 'N/A')

In [20]:
# Display the DataFrame
print(df)

       App      Category  Rating   Reviews  Size  Installs  Type  Price  \
0    App_1  Productivity     5.0  0.448924  30.0     50000  Paid   9.99
1    App_2     Education     4.3  0.919361  30.0      1000  Free   0.99
2    App_3          Game     2.4  0.910296  20.0     10000  Free   0.99
3    App_4        Health     1.4  0.270058  10.0    100000  Free   4.99
4    App_5          Game     3.8  0.613313  30.0     10000  Paid   0.00
5    App_6     Education     2.4  0.230145  20.0      1000  Free   9.99
6    App_7  Productivity     1.1  0.718306  20.0      1000  Paid   0.00
7    App_8     Education     1.2  0.158571  10.0      1000  Free   9.99
8    App_9  Productivity     3.4  0.875389  30.0     50000  Paid   9.99
9   App_10          Game     1.0  0.871465  20.0     50000  Paid   1.99
10  App_11        Health     1.5  0.421594  20.0    100000  Paid   0.99
11  App_12  Productivity     3.9  0.743336  30.0      1000  Free   0.00
12  App_13          Game     1.4  0.780950  10.0     10000  Free   9.99
13  App_14        Health     2.8  1.000000  20.0      1000  Free   2.99
14  App_15  Productivity     2.1  0.319984  20.0     10000  Paid   0.00
15  App_16  Productivity     3.4  0.966852  30.0     50000  Free   2.99
16  App_17     Education     4.9  0.154512  30.0     50000  Free   2.99
17  App_18        Health     3.5  0.810716  20.0      1000  Free   5.99
18  App_19     Education     2.1  0.067379  20.0     50000  Free   9.99
19  App_20          Game     1.2  0.536599  20.0     50000  Free   4.99
20  App_21     Education     4.7  0.592207  20.0    100000  Paid   9.99
21  App_22  Productivity     1.5  0.653092  30.0    100000  Free   9.99
22  App_23     Education     2.8  0.345961  20.0     50000  Free   5.99
23  App_24          Game     4.9  0.631173  10.0      1000  Free   4.99
24  App_25  Productivity     3.1  0.496550  30.0    100000  Free   0.99
25  App_26        Health     3.2  0.637938  20.0     50000  Free   9.99
26  App_27          Game     2.4  0.092816  20.0     50000  Paid   5.99
27  App_28  Productivity     3.5  0.663780  20.0    100000  Free   1.99
28  App_29     Education     2.3  0.000000  10.0     10000  Free   4.99
29  App_30     Education     1.5  0.250169  20.0     50000  Free   5.99

   Content Rating  Log_Installs  Popularity Affordable
0            Teen      0.849455    2.244622         No
1    Everyone 10+      0.000000    3.953254        N/A
2    Everyone 10+      0.499912    2.184711        N/A
3      Mature 17+      1.000000    0.378081        N/A
4            Teen      0.499912    2.330591        Yes
5      Mature 17+      0.000000    0.552347        N/A
6      Mature 17+      0.000000    0.790137        Yes
7    Everyone 10+      0.000000    0.190285        N/A
8        Everyone      0.849455    2.976323         No
9            Teen      0.849455    0.871465        Yes
10   Everyone 10+      1.000000    0.632391        Yes
11       Everyone      0.000000    2.899012        N/A
12       Everyone      0.499912    1.093330        N/A
13       Everyone      0.000000    2.800000        N/A
14     Mature 17+      0.499912    0.671966        Yes
15   Everyone 10+      0.849455    3.287295        N/A
16     Mature 17+      0.849455    0.757110        N/A
17       Everyone      0.000000    2.837505        N/A
18       Everyone      0.849455    0.141496        N/A
19     Mature 17+      0.849455    0.643918        N/A
20           Teen      1.000000    2.783372         No
21           Teen      1.000000    0.979637        N/A
22     Mature 17+      0.849455    0.968692        N/A
23       Everyone      0.000000    3.092748        N/A
24     Mature 17+      1.000000    1.539305        N/A
25           Teen      0.849455    2.041402        N/A
26   Everyone 10+      0.849455    0.222757         No
27           Teen      1.000000    2.323231        N/A
28     Mature 17+      0.499912    0.000000        N/A
29     Mature 17+      0.849455    0.375254        N/A