In [1]:
import pandas as pd
import numpy as np

# Generating sample Google Play Store data
data = {
    'App': [f'App_{i}' for i in range(1, 31)],
    'Category': np.random.choice(['Game', 'Productivity', 'Health', 'Education'], 30),
    'Rating': np.random.uniform(1.0, 5.0, 30).round(1),
    'Reviews': np.random.randint(1, 10000, 30),
    'Size': np.random.choice(['Varies with device', '10M', '20M', '30M'], 30),
    'Installs': np.random.choice(['1,000+', '10,000+', '50,000+', '100,000+'], 30),
    'Type': np.random.choice(['Free', 'Paid'], 30),
    'Price': np.random.choice(['0', '0.99', '1.99', '2.99', '4.99', '5.99', '9.99'], 30),
    'Content Rating': np.random.choice(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+'], 30)
}

In [2]:
data

{'App': ['App_1',
  'App_2',
  'App_3',
  'App_4',
  'App_5',
  'App_6',
  'App_7',
  'App_8',
  'App_9',
  'App_10',
  'App_11',
  'App_12',
  'App_13',
  'App_14',
  'App_15',
  'App_16',
  'App_17',
  'App_18',
  'App_19',
  'App_20',
  'App_21',
  'App_22',
  'App_23',
  'App_24',
  'App_25',
  'App_26',
  'App_27',
  'App_28',
  'App_29',
  'App_30'],
 'Category': array(['Game', 'Education', 'Education', 'Game', 'Game', 'Game',
        'Productivity', 'Productivity', 'Education', 'Health', 'Health',
        'Education', 'Game', 'Game', 'Game', 'Productivity', 'Health',
        'Productivity', 'Education', 'Game', 'Game', 'Education',
        'Education', 'Productivity', 'Game', 'Health', 'Education', 'Game',
        'Education', 'Game'], dtype='<U12'),
 'Rating': array([1.7, 1.7, 3.4, 3.7, 2.9, 2.8, 3.3, 1.9, 2.5, 2.9, 4.2, 3.2, 2.5,
        3.5, 1.8, 1.1, 2.7, 2.7, 2.6, 1.6, 1.2, 2. , 4.6, 2.2, 2.9, 2.6,
        2.7, 1.7, 1.6, 3.6]),
 'Reviews': array([8221, 4652, 8219, 1423, 3718, 3868, 3868, 2914, 2314, 8791,  675,
        3385, 8741, 7784, 8950, 2621, 6651, 7372, 2906, 7468, 8542, 8328,
        5516, 1030,  657, 5633, 6520, 3374, 8761, 5388]),
 'Size': array(['Varies with device', '20M', '20M', 'Varies with device', '30M',
        '20M', 'Varies with device', 'Varies with device', '30M', '20M',
        '20M', '20M', '30M', '30M', '30M', '30M', 'Varies with device',
        'Varies with device', '30M', '20M', '10M', '20M', '10M',
        'Varies with device', '20M', '10M', 'Varies with device', '20M',
        '20M', '30M'], dtype='<U18'),
 'Installs': array(['100,000+', '50,000+', '50,000+', '10,000+', '50,000+', '10,000+',
        '1,000+', '100,000+', '1,000+', '100,000+', '1,000+', '10,000+',
        '100,000+', '50,000+', '50,000+', '50,000+', '10,000+', '1,000+',
        '100,000+', '100,000+', '50,000+', '100,000+', '50,000+',
        '100,000+', '100,000+', '1,000+', '100,000+', '50,000+', '1,000+',
        '1,000+'], dtype='<U8'),
 'Type': array(['Paid', 'Paid', 'Paid', 'Paid', 'Paid', 'Free', 'Paid', 'Free',
        'Free', 'Free', 'Paid', 'Paid', 'Paid', 'Paid', 'Free', 'Free',
        'Free', 'Free', 'Paid', 'Paid', 'Paid', 'Paid', 'Paid', 'Free',
        'Paid', 'Free', 'Paid', 'Paid', 'Free', 'Free'], dtype='<U4'),
 'Price': array(['5.99', '2.99', '0.99', '0', '1.99', '5.99', '0.99', '4.99',
        '9.99', '0.99', '4.99', '5.99', '9.99', '0', '2.99', '1.99',
        '2.99', '4.99', '0.99', '9.99', '4.99', '0.99', '5.99', '5.99',
        '5.99', '0.99', '5.99', '9.99', '9.99', '4.99'], dtype='<U4'),
 'Content Rating': array(['Everyone 10+', 'Everyone', 'Mature 17+', 'Teen', 'Mature 17+',
        'Mature 17+', 'Teen', 'Everyone', 'Teen', 'Everyone 10+',
        'Mature 17+', 'Mature 17+', 'Everyone 10+', 'Everyone', 'Teen',
        'Teen', 'Teen', 'Everyone', 'Everyone 10+', 'Everyone', 'Everyone',
        'Everyone', 'Everyone', 'Everyone 10+', 'Mature 17+', 'Teen',
        'Everyone 10+', 'Everyone 10+', 'Everyone 10+', 'Mature 17+'],
       dtype='<U12')}

In [3]:
type(data)

dict

In [4]:
# Creating DataFrame
df = pd.DataFrame(data)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,8221,Varies with device,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,4652,20M,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,8219,20M,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,1423,Varies with device,"10,000+",Paid,0,Teen
4,App_5,Game,2.9,3718,30M,"50,000+",Paid,1.99,Mature 17+

In [7]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
25,App_26,Health,2.6,5633,10M,"1,000+",Free,0.99,Teen
26,App_27,Education,2.7,6520,Varies with device,"100,000+",Paid,5.99,Everyone 10+
27,App_28,Game,1.7,3374,20M,"50,000+",Paid,9.99,Everyone 10+
28,App_29,Education,1.6,8761,20M,"1,000+",Free,9.99,Everyone 10+
29,App_30,Game,3.6,5388,30M,"1,000+",Free,4.99,Mature 17+

In [8]:
# !pip install module name

In [9]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating'],
      dtype='object')

In [10]:
df.shape

(30, 9)

In [11]:
df['Category'].unique()

array(['Game', 'Education', 'Productivity', 'Health'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     object
 8   Content Rating  30 non-null     object
dtypes: float64(1), int32(1), object(7)
memory usage: 2.1+ KB

In [13]:
df.sample(4)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
10,App_11,Health,4.2,675,20M,"1,000+",Paid,4.99,Mature 17+
29,App_30,Game,3.6,5388,30M,"1,000+",Free,4.99,Mature 17+
7,App_8,Productivity,1.9,2914,Varies with device,"100,000+",Free,4.99,Everyone
22,App_23,Education,4.6,5516,10M,"50,000+",Paid,5.99,Everyone

In [14]:
df.isnull()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [16]:
# Basic data cleansing
# Step 1: Convert 'Price' to numeric, replacing '$' and converting 'Free' to 0
df['Price'] = df['Price'].replace('Free', '0')

In [17]:
type(df['Price'])

pandas.core.series.Series

In [18]:
df['Price'] = df['Price'].str.replace('$', '').astype(float)

<ipython-input-18-3d1d9481e45a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('$', '').astype(float)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     float64
 8   Content Rating  30 non-null     object
dtypes: float64(2), int32(1), object(6)
memory usage: 2.1+ KB

In [20]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,8221,Varies with device,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,4652,20M,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,8219,20M,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,1423,Varies with device,"10,000+",Paid,0.00,Teen
4,App_5,Game,2.9,3718,30M,"50,000+",Paid,1.99,Mature 17+

In [21]:
# Additional Steps
# Step 2: Remove duplicates based on the 'App' column
df = df.drop_duplicates(subset=['App'])

In [22]:
# Step 3: Fill missing values in 'Rating' with the mean rating
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [23]:
# Step 4: Normalize the 'Reviews' column (scaling between 0 and 1)
df['Reviews'] = (df['Reviews'] - df['Reviews'].min()) / (df['Reviews'].max() - df['Reviews'].min())

In [24]:
df['Size'].unique()

array(['Varies with device', '20M', '30M', '10M'], dtype=object)

In [25]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,0.912095,Varies with device,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,0.481732,20M,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,0.911853,20M,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,0.092367,Varies with device,"10,000+",Paid,0.00,Teen
4,App_5,Game,2.9,0.369106,30M,"50,000+",Paid,1.99,Mature 17+

In [26]:
# Step 5: Simplify 'Size' column (replace 'Varies with device' with NaN)
df['Size'] = df['Size'].replace('Varies with device', np.nan)

In [27]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,0.912095,NaN,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,0.481732,20M,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,0.911853,20M,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,0.092367,NaN,"10,000+",Paid,0.00,Teen
4,App_5,Game,2.9,0.369106,30M,"50,000+",Paid,1.99,Mature 17+

In [28]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,0.912095,NaN,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,0.481732,20M,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,0.911853,20M,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,0.092367,NaN,"10,000+",Paid,0.00,Teen
4,App_5,Game,2.9,0.369106,30M,"50,000+",Paid,1.99,Mature 17+

In [29]:
df['Size']

0     NaN
1     20M
2     20M
3     NaN
4     30M
5     20M
6     NaN
7     NaN
8     30M
9     20M
10    20M
11    20M
12    30M
13    30M
14    30M
15    30M
16    NaN
17    NaN
18    30M
19    20M
20    10M
21    20M
22    10M
23    NaN
24    20M
25    10M
26    NaN
27    20M
28    20M
29    30M
Name: Size, dtype: object

In [30]:
# Step 6: Convert 'Size' from string to numeric (assume 'M' means MB)
df['Size'] = df['Size'].str.replace('M', '').astype(float)

In [31]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,0.912095,NaN,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,0.481732,20.0,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,0.911853,20.0,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,0.092367,NaN,"10,000+",Paid,0.00,Teen
4,App_5,Game,2.9,0.369106,30.0,"50,000+",Paid,1.99,Mature 17+

In [32]:
df['Size']

0      NaN
1     20.0
2     20.0
3      NaN
4     30.0
5     20.0
6      NaN
7      NaN
8     30.0
9     20.0
10    20.0
11    20.0
12    30.0
13    30.0
14    30.0
15    30.0
16     NaN
17     NaN
18    30.0
19    20.0
20    10.0
21    20.0
22    10.0
23     NaN
24    20.0
25    10.0
26     NaN
27    20.0
28    20.0
29    30.0
Name: Size, dtype: float64

In [33]:
# Step 7: Fill missing values in 'Size' with the median size
df['Size'] = df['Size'].fillna(df['Size'].median())

In [34]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,1.7,0.912095,20.0,"100,000+",Paid,5.99,Everyone 10+
1,App_2,Education,1.7,0.481732,20.0,"50,000+",Paid,2.99,Everyone
2,App_3,Education,3.4,0.911853,20.0,"50,000+",Paid,0.99,Mature 17+
3,App_4,Game,3.7,0.092367,20.0,"10,000+",Paid,0.00,Teen
4,App_5,Game,2.9,0.369106,30.0,"50,000+",Paid,1.99,Mature 17+

In [35]:
# Step 8: Clean 'Installs' column (remove '+' and ',')
df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

<ipython-input-35-91f565401ee9>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

In [36]:
df['Size']

0     20.0
1     20.0
2     20.0
3     20.0
4     30.0
5     20.0
6     20.0
7     20.0
8     30.0
9     20.0
10    20.0
11    20.0
12    30.0
13    30.0
14    30.0
15    30.0
16    20.0
17    20.0
18    30.0
19    20.0
20    10.0
21    20.0
22    10.0
23    20.0
24    20.0
25    10.0
26    20.0
27    20.0
28    20.0
29    30.0
Name: Size, dtype: float64

In [37]:
# Step 11: Create a new column 'Popularity' based on 'Rating' and 'Reviews'
df['Popularity'] = df['Rating'] * df['Reviews']

In [38]:
df.sort_values(by=['Popularity','Size'], ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
2,App_3,Education,3.4,0.911853,20.0,50000,Paid,0.99,Mature 17+,3.100301
13,App_14,Game,3.5,0.859399,30.0,50000,Paid,0.00,Everyone,3.007898
9,App_10,Health,2.9,0.980827,20.0,100000,Free,0.99,Everyone 10+,2.844399
22,App_23,Education,4.6,0.585916,10.0,50000,Paid,5.99,Everyone,2.695213
12,App_13,Game,2.5,0.974798,30.0,100000,Paid,9.99,Everyone 10+,2.436995
17,App_18,Productivity,2.7,0.809719,20.0,1000,Free,4.99,Everyone,2.186241
29,App_30,Game,3.6,0.570481,30.0,1000,Free,4.99,Mature 17+,2.053732
16,App_17,Health,2.7,0.722778,20.0,10000,Free,2.99,Teen,1.951501
26,App_27,Education,2.7,0.706982,20.0,100000,Paid,5.99,Everyone 10+,1.908851
21,App_22,Education,2.0,0.924997,20.0,100000,Paid,0.99,Everyone,1.849994
14,App_15,Game,1.8,1.000000,30.0,50000,Free,2.99,Teen,1.800000
28,App_29,Education,1.6,0.977210,20.0,1000,Free,9.99,Everyone 10+,1.563536
25,App_26,Health,2.6,0.600024,10.0,1000,Free,0.99,Teen,1.560063
0,App_1,Game,1.7,0.912095,20.0,100000,Paid,5.99,Everyone 10+,1.550561
19,App_20,Game,1.6,0.821295,20.0,100000,Paid,9.99,Everyone,1.314072
6,App_7,Productivity,3.3,0.387194,20.0,1000,Paid,0.99,Teen,1.277740
20,App_21,Game,1.2,0.950802,10.0,50000,Paid,4.99,Everyone,1.140962
5,App_6,Game,2.8,0.387194,20.0,10000,Free,5.99,Mature 17+,1.084143
4,App_5,Game,2.9,0.369106,30.0,50000,Paid,1.99,Mature 17+,1.070409
11,App_12,Education,3.2,0.328952,20.0,10000,Paid,5.99,Mature 17+,1.052647
1,App_2,Education,1.7,0.481732,20.0,50000,Paid,2.99,Everyone,0.818944
18,App_19,Education,2.6,0.271193,30.0,100000,Paid,0.99,Everyone 10+,0.705101
27,App_28,Game,1.7,0.327626,20.0,50000,Paid,9.99,Everyone 10+,0.556964
7,App_8,Productivity,1.9,0.272157,20.0,100000,Free,4.99,Everyone,0.517099
8,App_9,Education,2.5,0.199807,30.0,1000,Free,9.99,Teen,0.499518
3,App_4,Game,3.7,0.092367,20.0,10000,Paid,0.00,Teen,0.341758
15,App_16,Productivity,1.1,0.236826,30.0,50000,Free,1.99,Teen,0.260509
23,App_24,Productivity,2.2,0.044978,20.0,100000,Free,5.99,Everyone 10+,0.098951
10,App_11,Health,4.2,0.002171,20.0,1000,Paid,4.99,Mature 17+,0.009116
24,App_25,Game,2.9,0.000000,20.0,100000,Paid,5.99,Mature 17+,0.000000

In [39]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
0,App_1,Game,1.7,0.912095,20.0,100000,Paid,5.99,Everyone 10+,1.550561
1,App_2,Education,1.7,0.481732,20.0,50000,Paid,2.99,Everyone,0.818944
2,App_3,Education,3.4,0.911853,20.0,50000,Paid,0.99,Mature 17+,3.100301
3,App_4,Game,3.7,0.092367,20.0,10000,Paid,0.00,Teen,0.341758
4,App_5,Game,2.9,0.369106,30.0,50000,Paid,1.99,Mature 17+,1.070409

In [55]:
df[df['App']=="App_1"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
0,App_1,Game,1.7,0.912095,20.0,100000,Paid,5.99,Everyone 10+,1.550561

In [57]:
len(df[(df['Type'] == 'Paid') & (df['Price'] < 2.00)])

7

In [61]:
# Check and categorize paid apps
df['Affordable'] = np.where(df['Type'] == 'Paid', np.where(df['Price'] < 5.00, 'Yes', 'No'), 'N/A')

In [64]:
# Display the DataFrame
print(df)

       App      Category  Rating   Reviews  Size  Installs  Type  Price  \
0    App_1          Game     1.7  0.912095  20.0    100000  Paid   5.99
1    App_2     Education     1.7  0.481732  20.0     50000  Paid   2.99
2    App_3     Education     3.4  0.911853  20.0     50000  Paid   0.99
3    App_4          Game     3.7  0.092367  20.0     10000  Paid   0.00
4    App_5          Game     2.9  0.369106  30.0     50000  Paid   1.99
5    App_6          Game     2.8  0.387194  20.0     10000  Free   5.99
6    App_7  Productivity     3.3  0.387194  20.0      1000  Paid   0.99
7    App_8  Productivity     1.9  0.272157  20.0    100000  Free   4.99
8    App_9     Education     2.5  0.199807  30.0      1000  Free   9.99
9   App_10        Health     2.9  0.980827  20.0    100000  Free   0.99
10  App_11        Health     4.2  0.002171  20.0      1000  Paid   4.99
11  App_12     Education     3.2  0.328952  20.0     10000  Paid   5.99
12  App_13          Game     2.5  0.974798  30.0    100000  Paid   9.99
13  App_14          Game     3.5  0.859399  30.0     50000  Paid   0.00
14  App_15          Game     1.8  1.000000  30.0     50000  Free   2.99
15  App_16  Productivity     1.1  0.236826  30.0     50000  Free   1.99
16  App_17        Health     2.7  0.722778  20.0     10000  Free   2.99
17  App_18  Productivity     2.7  0.809719  20.0      1000  Free   4.99
18  App_19     Education     2.6  0.271193  30.0    100000  Paid   0.99
19  App_20          Game     1.6  0.821295  20.0    100000  Paid   9.99
20  App_21          Game     1.2  0.950802  10.0     50000  Paid   4.99
21  App_22     Education     2.0  0.924997  20.0    100000  Paid   0.99
22  App_23     Education     4.6  0.585916  10.0     50000  Paid   5.99
23  App_24  Productivity     2.2  0.044978  20.0    100000  Free   5.99
24  App_25          Game     2.9  0.000000  20.0    100000  Paid   5.99
25  App_26        Health     2.6  0.600024  10.0      1000  Free   0.99
26  App_27     Education     2.7  0.706982  20.0    100000  Paid   5.99
27  App_28          Game     1.7  0.327626  20.0     50000  Paid   9.99
28  App_29     Education     1.6  0.977210  20.0      1000  Free   9.99
29  App_30          Game     3.6  0.570481  30.0      1000  Free   4.99

   Content Rating  Popularity Affordable
0    Everyone 10+    1.550561         No
1        Everyone    0.818944        Yes
2      Mature 17+    3.100301        Yes
3            Teen    0.341758        Yes
4      Mature 17+    1.070409        Yes
5      Mature 17+    1.084143        N/A
6            Teen    1.277740        Yes
7        Everyone    0.517099        N/A
8            Teen    0.499518        N/A
9    Everyone 10+    2.844399        N/A
10     Mature 17+    0.009116        Yes
11     Mature 17+    1.052647         No
12   Everyone 10+    2.436995         No
13       Everyone    3.007898        Yes
14           Teen    1.800000        N/A
15           Teen    0.260509        N/A
16           Teen    1.951501        N/A
17       Everyone    2.186241        N/A
18   Everyone 10+    0.705101        Yes
19       Everyone    1.314072         No
20       Everyone    1.140962        Yes
21       Everyone    1.849994        Yes
22       Everyone    2.695213         No
23   Everyone 10+    0.098951        N/A
24     Mature 17+    0.000000         No
25           Teen    1.560063        N/A
26   Everyone 10+    1.908851         No
27   Everyone 10+    0.556964         No
28   Everyone 10+    1.563536        N/A
29     Mature 17+    2.053732        N/A

In [67]:
df.to_excel('PGD_Google_APP_Data.xlsx')

PermissionError: [Errno 13] Permission denied: 'PGD_Google_APP_Data.xlsx'

In [65]:
df.to_csv('PGD_Google_APP_Data.csv')